
.testitem{
  text-align: center;
  color: white;
  width:70%;
  margin-left: auto;
  margin-right: auto;
}
.avatar {
  width: 65px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  img{
    border-radius: 50%;

  }
}